{% extends "base.html"%}
{% block content %} 
<h2>List of Conferences</h2>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Theme</th>
    <th>Location</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Action</th>
  </tr>
  {% for c in conferences %}
  <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.theme }}</td>
    <td>{{ c.location }}</td>
    <td>{{ c.start_date }}</td>
    <td>{{ c.end_date }}</td>
    <td>
      <a href="{% url 'conference-details' c.pk %}">View Details</a> |
      {% if user.is_authenticated and user.role == 'admin' %}
      <a href="{% url 'conference-edit' c.pk %}">Modifier</a>
      <a href="{% url 'conferen
      ce-delete' c.pk %}">Supprimer</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
